.item-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.item-form input {
  margin: 5px 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.item-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item-form button:hover {
  background-color: #0056b3;
}
.ml-10{
  margin-left: 10px;
}

  